// Page layout

$responsive-width-xsmall: 310px !default;
$responsive-width-small: 420px !default;
$responsive-width-medium: 768px !default;
$responsive-width-large: 1024px !default;
$responsive-width-xlarge: 1280px !default;
$responsive-width-xxl: 2560px !default;
// ----------------------------------------*/

$responsive-width-set: (
  '$responsive-width-xsmall': $responsive-width-xsmall,
  '$responsive-width-small': $responsive-width-small,
  '$responsive-width-medium': $responsive-width-medium,
  '$responsive-width-large': $responsive-width-large,
  '$responsive-width-xlarge': $responsive-width-xlarge,
  '$responsive-width-xxl': $responsive-width-xxl,
);

// /*----------------------------------------
//   MEDIA QUERIES
// ----------------------------------------*/
@mixin xsmall_breakpoint {
  @media screen and (min-width: #{$responsive-width-xsmall}) {
    @content;
  }
}

@mixin small_breakpoint {
  @media screen and (min-width: #{$responsive-width-small}) {
    @content;
  }
}

@mixin medium_breakpoint {
  @media screen and (min-width: #{$responsive-width-medium}) {
    @content;
  }
}

@mixin large_breakpoint {
  @media screen and (min-width: #{$responsive-width-large}) {
    @content;
  }
}

@mixin xlarge_breakpoint {
  @media screen and (min-width: #{$responsive-width-xlarge}) {
    @content;
  }
}

$breakpoint-set: (
  'xsmall_breakpoint': $responsive-width-xsmall,
  'small_breakpoint': $responsive-width-small,
  'medium_breakpoint': $responsive-width-medium,
  'large_breakpoint': $responsive-width-large,
  'xlarge_breakpoint': $responsive-width-xlarge,
);
