// Energy

$dark-green-energy: #27974f;
$middle-green-energy: #59ad4f;
$light-green-energy: #bbce4c;
$yellow-energy: #ffed42;
$light-orange-energy: #f0b041;
$dark-orange-energy: #de6637;
$red-energy: #d22531;

// PayPal

$paypal-blue: #223954;
$paypal-blue-light: #169bd7;

// KakaoTalk

$kakao-yellow: #fee500;
$kakao-yellow-active: #f0d700;
$kakao-text-color: rgba(#000, 0.85);
$kakao-icon-color: #000;

//Social media
$color-facebook: #39579b;
$color-twitter: #1ea9e3;
$color-pinterest: #cd1d1e;
$color-instagram: #125688;
$color-spotify: #00e461;
$color-snapchat: #fffc00;
$color-tumblr: #35465c;
$color-google-plus: #d34836;
$color-youtube: #f00;
$color-linkedin: #0077b7;

// High contrast
$high-contrast-dark: #000;
$high-contrast-light: #fff;
