@import '../../assets/variables';

.footer {
  display: flex;
  background: $black;
  color: $white;
  padding:$spacing-s;
}

.firstSection {
  display: flex;
  flex-direction: column;
  margin-left: $spacing-m;
}

.secondSection {
  display: flex;
  flex-direction: column;
  margin-left: $spacing-m;
}