@import "../../assets/variables";


.header {
  background-color: $black;
  color: $white;
}
.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navList {
  display: flex;
  
  list-style: none;
}

.navList li {
  margin-right: $spacing-m;
  padding: $spacing-s $spacing-s;
  cursor: pointer;
}

.active {
  background-color: $base-primary-interactive;
}