@import '../../assets/variables';

.danceSection {
  display: flex;
  height: 100vh;
  width: 100%;
  background:linear-gradient(180deg, #5C5C5C 0%, #322E40 100%);
  // z-index: 2;
}

.textPart {
  margin-top: 20%;
  margin-left:5%;
  color:$white;
  z-index: 10;
}
.carouselPart{}
