@import '../../assets/variables';

.experienceSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: -10vw;
}

.trickSection {
  display: flex;
  height: 100%;
  width: 100%;
  margin-bottom: -10vw;
}

.cardPart {
  background-color: #53abd1;
  height: 100%;
  width: 100%;
}

.textPart {
  background-color: #ffbaba;
  height: 100%;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% calc(100% - 10vw), 0 100%);
}

.textPart::before {
  content: '';
  position: absolute;
  background-color: #53abd1;
  height: 100%;
  width: 50%;
  left: 15%;
  transform: skew(20deg);
}

.textSection {
  margin-top: 10%;
  margin-left: inherit;

  @include large_breakpoint {
    margin-left: 30%;
  }
}

.subscribeSection {
  display: flex;
  position: relative;
  justify-content: space-between;
  background-color: #2f6381;
  height: 60%;
  width: 100%;
  z-index: 1;
  clip-path: polygon(
    0 calc(0% + 10vw),
    100% 0,
    100% calc(100% - 10vw),
    0 calc(100% + 10vw)
  );
}

.subscribeText {
  margin-top: 15%;
  margin-left: 10%;
  color: white;
  z-index: 10;
}

.logo {
  position: absolute;
  top: 10%;
  right: 10%;
  height: inherit;
}

.cards {
  display: flex;
  margin-top: $spacing-l;
  margin-left: $spacing-m;
  position: relative;
}
