@import '../../assets/variables';

.experienceSection {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #FFBABA;
}


.trickSection {
  display: flex;
  height: 100%;
  width: 100%;
}

.cards {
  display: flex;
  margin-top: $spacing-l;
  margin-left: $spacing-m;
  position: relative;
}

.cardPart {
  background-color: #53ABD1;
  height: 100%;
  width: 100%;
}

.textPart {
  background-color: #FFBABA;
  margin-left: $spacing-l;
  height: 100%;
  width: 100%;
}

.subscribeSection {
  background-color: #2F6381;
  height: 60%;
  width: 100%;
}