@import '../../assets/variables';

.image {
  height:258px;
  width: 168px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  transition: all .2s ease-in-out;
  position:absolute;
}

.image:hover {
  transform: scale(1.2);
  z-index: $focus-trap-overlay-z-index;
}